aside{
    position: fixed;
    z-index: 10;
    background-color: #fff;
    right: 0;
    top: 0;
    width: 43.75rem;
    height: 100%;
    padding: 6rem 2rem;
    box-shadow: 0 0 0 100vmax #000000bf;
    transform: translateX(100%);
    visibility: hidden;
    transition: 0.5s;
    overflow: auto;
}

.aside-visible{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.aside-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.aside-header button{
    background-color: transparent;
    border: 0;
    color: #ff4d4d;
    cursor: pointer;
    filter: drop-shadow(.0625rem .0625rem .0625rem rgba(1, 1, 1, 0.226));
    font-size: 1.5rem;
}


.aside-header h3 {
    color: #333;
    font-size: 2rem;
}

.aside-header h3 i{
    color: #253a55;
    margin-left: .625rem ;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.25rem;

}

th, td {
    padding: .75rem;
    text-align: center;
    border-bottom: .0625rem solid #ddd;
    font-size: .875rem;
}

.carrito-header {
    background-color: #f8f8f8;
}


.btn-eliminar {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: .5rem .75rem;
    cursor: pointer;
    border-radius: .25rem;
    transition: background-color 0.3s;
}

.btn-eliminar:hover {
    background-color: #ff1a1a;
}

.btn-eliminar:active {
    background-color: #9e1414;
    transform: scale(0.95);
}


.carrito-total-label {
    text-align: right;
    font-weight: bold;
    background-color: #f8f8f8;
}

.carrito-total {
    font-weight: bold;
}

.btn-comprar {
    background-color: #28a745;
    border-radius: .3125rem;
    border: none;
    box-shadow: 0 .25rem .5rem #0000001c;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    margin: 0 auto;
    padding: .5rem;
    text-align: center;
    transition: background-color 0.3s;
    width: 12.5rem;
}

.btn-comprar:hover {
    background-color: #208d4e;
}

.btn-comprar:active {
    background-color: #0e5c2e;
    transform: scale(0.95);
}