.header {
    background-color: #253a55;
    color: #fff;
    padding: 2.5rem 3.125rem;
    margin-bottom: 5rem;
}

.nav__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90rem;
    margin: 0 auto;

}

.logo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo__container img {
    width: 3.125rem;
    margin-right: .625rem;

}

.shop__name {
    font-size: 1.5rem;
}


.products__container ul {
    display: flex;
    gap: 3.125rem;
    cursor: pointer;
}


.products__container ul li {
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.products__container ul li:hover {
    color: #ff6600;
}

.cart__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 9rem;
}

.cart__container i {
    font-size: 1.5rem;
}

.price_cart {
    font-size: 1rem;
    color: #fff;
    margin-right: 1.5625rem;
}