.card__container {
    display: flex;
    row-gap: 6rem;
    column-gap: 5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 12.5rem;
}

.card {
    background-color: #fff;
    border-radius: .9375rem;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 18.75rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: .625rem;
    text-align: center;
    background-color: #fff;
}

.card-content h3 {
    margin: .625rem 0;
    font-size: 1.2em;
    color: #242424;
}

.card-content p {
    font-size: 1rem;
    color: #7a7a7a;
    margin: .625rem 0;
    line-height: 1.6;
}

.price-buy {
    display: flex;
    justify-content: center;
    gap: .625rem;
    align-items: center;
    margin-top: .9375rem;
}

.price {
    font-size: 1.4rem;
    color: #9b9b9b;
    font-weight: bold;
}

.buy-btn {
    padding: .625rem .625rem;
    font-size: 1em;
    color: #fff;
    background-color: #27ae60;
    border: none;
    border-radius: .3125rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.buy-btn:hover {
    background-color: #0e5c2e;
}


.card:hover {
    box-shadow: 0 .75rem 1.5rem rgba(0, 0, 0, 0.2);
}
