.card-container {
    display: flex;
    row-gap: 6rem;
    column-gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 5rem;
    padding: 1.25rem 6.25rem;

}

.card {
    background-color: #fff;
    border-radius: .9375rem;
    box-shadow: 0 .25rem .5rem #00000056;
    overflow: hidden;
    width: 15.625rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card img {
    width: 100%;

}

.card-content {
    padding: .625rem;
    text-align: center;
    background-color: #fff;
}

.card-content h5 {
    margin: .625rem 0;
    font-size: 1rem;
    color: #242424;
}

.card-content p {
    font-size: .75rem;
    color: #7a7a7a;
    margin: 5px 0;
    line-height: 1.6;
}


.price-buy {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .625rem;
    align-items: center;
    margin-top: .9375rem;
}

.price {
    font-size: 1.4rem;
    color: #9b9b9b;
    font-weight: bold;
}

.agregar-btn {
    padding: .625rem .625rem;
    font-size: .75rem;
    color: #fff;
    background-color: #27ae60;
    border: none;
    border-radius: .3125rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.15s;
}

.agregar-btn:hover {
    background-color: #208d4e;
}

.agregar-btn:active {
    background-color: #0e5c2e;
    transform: scale(0.95);
}

.card:hover {
    box-shadow: 0 .75rem 1.5rem #00000033;
}

.btn-todos {
    background-color: #28a745;
    border-radius: .3125rem;
    border: none;
    box-shadow: 0 .75rem .5rem #00000067;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    margin: 0 auto 10rem auto;
    padding: .9375rem;
    text-align: center;
    transition:  0.3s background-color;
    width: 18.75rem;
}

.btn-todos:hover {
    background-color: #208d4e;
}

.btn-todos:active {
    background-color: #0e5c2e;
    transform: scale(0.95);
}